<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutChangesToGlobalState="true"
         verbose="true">
    <testsuites>
        <testsuite name="PHP Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="extension" value="./modules/var_send.so"/>
        <ini name="var_send.enabled" value="1"/>
        <ini name="var_send.server_host" value="127.0.0.1"/>
        <ini name="var_send.server_port" value="9002"/>
    </php>
</phpunit>
